<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
</head>
<body>
<h1>Let's Chat</h1>
<div id="chatBox" style="border: 1px solid; padding: 10px; height: 300px; overflow-y: scroll;">

</div>
<input id="messageInput" type="text" placeholder="Type a Message....">
<button id="sendButton">send</button>


<script type="text/javascript">
    let url = 'ws://localhost:8000/ws/socket-server/';

    const chatSocket = new WebSocket(url);

    if (Notification.permission !== 'granted') {
        Notification.requestPermission().then(function(permission) {
            if (permission === 'granted') {
                console.log('Notification permission granted');
            } else {
                console.log('Notification permission denied');
            }
        });
    }

    chatSocket.onopen = function () {
        console.log('WebSocket connection opened');
    };

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        let message = data.message;

        const chatBox = document.getElementById('chatBox');
        const messageElement = document.createElement('div');
        messageElement.textContent = message;
        chatBox.appendChild(messageElement);

        chatBox.scrollTop = chatBox.scrollHeight;

        if (Notification.permission === 'granted' && !document.hasFocus()) {
            new Notification('New Message', {
                body: message,
            });
        }
    };

    chatSocket.onerror = function(e) {
        console.error('WebSocket error:', e);
    };

    chatSocket.onclose = function (e) {
        console.log('WebSocket connection closed:', e);
    };

    const sendButton = document.getElementById('sendButton');
    const messageInput = document.getElementById('messageInput');

    sendButton.onclick = function () {
        const message = messageInput.value.trim();
        if (message) {
            chatSocket.send(JSON.stringify({ message: message }));
            messageInput.value = '';
        }
    };

</script>
</body>
</html>
